<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How it Works | Trace TL;DR</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <strong>Trace TL;DR</strong>
                </a>
                <span class="navbar-burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="#">How it Works</a>
                    <a class="navbar-item" href="https://github.com/trentwiles/tracetldr">Source Code</a>
                    <a class="navbar-item" href="https://www.trentwiles.com">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">How it Works</h1>
            </div>
        </div>
    </section>
    <section>
        <p class="content">To Do</p>
    </section>


    <!-- Bulma Navbar Toggle Script -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if (navbarBurgers.length > 0) {
                navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });




    </script>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Trace TL;DR</strong> by <a href="https://www.trentwiles.com">Trent Wiles</a>.
                <br>
                Data sourced from Northeastern Trace, source code available on <a
                    href="https://github.com/trentwiles/tracetldr">Github</a>
            </p>
        </div>
    </footer>
</body>

</html>