{% include 'header.html' %}


    <section class="section">
        <div class="container" id="holder">

        </div>
    </section>

    
    <script>
        const teacherID = "{{id}}";

        function getRandomReview(reviewList) {
            var toReturn = reviewList[Math.floor(Math.random() * reviewList.length)];
            // prevent short comments like "n/a" or "none" from being shown
            if (toReturn.length < 6) {
                return getRandomReview(reviewList)
            }
            return toReturn
        }

        $(document).ready(function () {
            $.getJSON("/_api/getTeacherByID/" + teacherID, function (result) {

                if (result["teacherName"] == undefined) {
                    window.location = "/"
                }

                $("#holder").append(`<h1 class="title has-text-centered" id="fullName">${result["teacherName"]}</h1>`)
                $("#holder").append(`<center><p class="content" id="tempLoader"><i>Loading...</i></p></center>`)
                $(document).attr("title", result["teacherName"] + " Summary | Trace TL;DR");
                $.getJSON("/_api/getTeacherSummary/" + teacherID, function (gemini) {
                    $("#tempLoader").hide()
                    $("#holder").append(`
                     <div class="columns is-multiline" id="resultsContainer">
                        <!-- Half One -->
                        <div class="column is-one-half result" data-name="Result 1">
                            <div class="card">
                            <div class="card-content">
                                <p class="title is-5">Postive Summary</p>
                                <p class="content">Based on all positive reviews, students describe ${result["teacherName"]} as <strong>${gemini["positive"]}</strong></p>
                                <p class="content"><i>"${getRandomReview(result["all_good_comments"])}"</i></p>
                            </div>
                            </div>
                        </div>
                        <!-- Other Half -->
                        <div class="column is-one-half result" data-name="Result 1">
                            <div class="card">
                            <div class="card-content">
                                <p class="title is-5">Critical Summary</p>
                                <p class="content">Based on all critical reviews, students describe ${result["teacherName"]} as <strong>${gemini["critical"]}</strong></p>
                                <p class="content"><i>"${getRandomReview(result["all_bad_comments"])}"</i></p>
                                </div>
                            </div>
                        </div>
                    `)
                    /* exit to trace button of sorts*/
                    $("#holder").append(`
                        <div class="buttons is-centered" style="margin-bottom: 20px;">
                            <a class="button is-primary is-large" _target="blank" href="https://www.applyweb.com/eval/shibboleth/neu/36892">Open Trace</a>
                            <a class="button is-primary is-large" href="/">Search Again</a>
                        </div>
                    `);
                })
            });
        })
    </script>
    {% include 'footer.html' %}